.dropdown {
    position: relative;
    width: 8rem;
    p {
        text-align: left;
        font-size: var(--font-lg);
        margin: 0;
        padding-left: 0.25rem;
        svg {
            margin-left: 0.5rem;
        }
    }
    ul li a{
        display: block;
        text-decoration: none;
        color: inherit;
    }
}

.dropdown ul {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    li {
        display: block;
        background: white;
        padding: 0.25rem 0.5rem;
        margin: 0;
    }
    li:hover{
        background-color: #8a8a8a;
    }
}

.dropdown:hover ul {
    display: block;
    cursor: pointer;
}

