.header {
    margin: 0 auto;
    padding: 1.5rem 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
}

.head-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.switch-btn {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1rem;
    border: 1px solid var(--color-text);
    border-radius: 100%;
    background-color: var(--color-code-bg);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}