.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 0 33%;
  gap: 2rem 5rem;
}

.component-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.dropdown-cont {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.post-link {
  text-decoration: none;
}

.deck {
  position: absolute;
  width: 18.75rem;
  height: 12.5rem;
  will-change: transform;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  touch-action: none;
}

.post {
  display: flex;
  background: var(--color-post);
  .post-link {
    display: flex;
    gap: 2rem;
    padding: 1.25rem;
  }
  border: 1px solid black;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.post-info {
  user-select: none;
  h3 {
    font-size: 1.5rem;
  }
}

.location {
  user-select: none;
  display: flex;
  align-items: center;
  svg {
    width: 2rem;
  }
}

.post-img {
  min-width: 21.5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.stack {
  display: flex;
  background: var(--color-post);
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  width: 25rem;
  height: 30rem;
  gap: 0.75rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  .post-img {
    height: 20rem;
  }
  .desc {
    display: none;
  }
  will-change: transform;
  touch-action: none;
}

.card {
  transition: transform 0.5s ease;
  padding: 1.25rem;
  border: 1px solid black;
  background: var(--color-post);
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  .post-link {
    img {
      width: 21.5rem;
      height: 16.625rem;
    }
  }
  .post-info {
    display: none;
  }
}

.card:hover {
  transform: scale(1.1);
}